.form-sort {

	background-color: $alabaster;
	border: 1px solid $border-color;
	margin-bottom: 10px;

	h2 {
		background-color: #ecebe7;
		font-size: 22px;
		border-bottom: 1px solid $border-color;
		padding: 5px 15px 5px 15px;
		margin: 0;
		cursor: pointer;
	}

	.sort-form-container {
		padding: 15px 15px 25px 15px;
		display: none;
	}

	.input-group {
		margin-top: 5px;
	}

	@media (min-width: $screen-sm-min) {

		h2 {
			cursor: default;
		}

		.sort-form-container {
			display: block !important;
		}

	}

}